p {
    font-size: 1.4em;
}

mat-card {
  width: 90%;
  margin: 0 auto;
}

mat-card.answer-card.mat-card {
    width: 90%;
    border: none;
    box-shadow: none;
    padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.answers-form {
  flex-direction: row;
}
form.answers-form mat-form-field {
  margin: 10px 0;
}


form > *:not(button) {
  width: 100%;
}

.questions-panel > form > *:not(button) {
  width: 75%;
}

.answers-panel > form > *:not(button) {
  width: 85%;
}

.questions-panel{
  padding: 25px 0;
}

button:not(.button-remove) {
  margin: 15px 0;
}

.button-remove {
  float: right;
  margin-left: 15px;
}

.answers-form mat-form-field {
  width: 50%;
}

button.new {
  background-color: #00C853;
}

  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 10px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  button {
      float: right;
  }