<mat-card>
  <mat-card-header>
    <h1 color="primary">New Poll</h1>
  </mat-card-header>
  <mat-card-content *ngIf="poll">
    <form class="poll-form">
      <mat-form-field>
        <input matInput placeholder="Title" name="title" [(ngModel)]="poll.title">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Description" name="description" [(ngModel)]="poll.description">
      </mat-form-field>

      <!-- QUESTIONS -->
      <h2 color="primary">Questions</h2>
      <div *ngFor="let question of poll.questions; let i_question = index;" class="questions-panel">
        <mat-card>
          <mat-card-content>
            <form>
              <h3>Question # {{i_question+1}}</h3>
              <mat-form-field>
                <input matInput placeholder="Description of question" name="question description" [(ngModel)]="question.description">
              </mat-form-field>


              <!-- ANSWERS -->
              <h2 color="primary">Answers</h2>
              <mat-card class="answer-card">
                <mat-card-content>
                  <div *ngFor="let answer of question.answers; let i_answer = index;" class="answers-panel">
                    <form class="answers-form">
                      <mat-form-field>
                        <input matInput placeholder="Answer #{{i_answer+1}}" 
                          name="answer description" 
                          [(ngModel)]="answer.description" 
                          (focus)="inputClick(question, i_answer)">
                      </mat-form-field>
                      <button mat-mini-fab class="button-remove" color="warn" (click)="deleteElement(question.answers, answer)">
                        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
                      </button>
                    </form>
                  </div>
                  <button class="new" mat-raised-button color="accent" (click)="addAnswerToQuestion(question)">New Answer</button>
                </mat-card-content>
              </mat-card>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="button-row">
        <button class="new" mat-raised-button color="accent" (click)="addQuestionToPoll()">New Question</button>
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="savePoll()">SAVE POLL</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>